#create_list_name button{
  border-radius: 5px;
  margin-top: 1em;
}
#create_list_name{
  width: 100%;
  margin-top: 1em;
}
#nameList{
  width:80%;
}
#imageList{
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
}
#contentInputList{
  padding-left: 2em;
}
