<template name="input">
	<div class="content">
		<h2>AGGIUNTA DI UNA LISTA</h2>


			<div id="create_list_img">
				Inserisci l'immagine che vuoi rappresenti la tua lista:<br>
				<input type="file" name="list_image" accept="image/*">
			</div>
			<div id="create_list_name">
				Inserisci il nome della lista che vuoi creare:<br>
				<input type="text" name="list_name"><br>
			</div>
			<button type="button" class="btn btn-primary" id="btnAddList">
				Conferma la creazione della lista<br>

			</button>



	</div>
</template>
