<template name="inputItem">
    <div class="content">
        <h2>AGGIUNTA DI UNA ITEM</h2>


        <div id="input_item_img">
            Inserisci l'immagine che vuoi rappresenti il tuo item <br>
            <input  id="imageITem" type="file" name="item_image" accept="image/*">
        </div>
        <div id="input_name_item">
            Inserisci il nome del item che vuoi creare:<br>
            <input id="itemList" type="text" name="item_name"><br>
        </div>
        <div id="input_quantity_item">
            Inserisci la quantità del item che vuoi creare:<br>
            <input id="itemQuantity" type="number" name="item_quantity"><br>
        </div>
        <div id="input_description_item">
            Inserisci la descrizione del item che vuoi creare:<br>
            <input id="itemdescription" type="text" name="item_description"><br>
        </div>
        <div id="input_mesaurement_unit">
            Inserisci la descrizione del item che vuoi creare:<br>
            <input id="itemMesaurement" type="text" name="item_mesaurement"><br>
        </div>
        <button type="button" class="btn btn-primary" id="btnAddList">
            Conferma la creazione del item<br>
        </button>



    </div>
</template>
